/* *{
  margin :0;
  padding:0;
} */
body{
   background-image: url("new.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   opacity: white;
   text-decoration:none;
   z-index: -1;
   opacity: 50%;
   filter:alpha(opacity(50%));

    }
nav {
  margin-top: 0;
  margin-left: %;
  margin-right: 0px;
  Background-color:;
  Height:150px;
  z-index: 1;
  }
nav ul li{
   list-style-type: none;
   Width:200px;
   float:left;
    }
nav ul li a{
   text-decoration:none;
   color:white;
   text align-content:centre;
   line-height:100px;
   font-size: 20px;
}
nav ul li a:hover
{
  color:black;
}


#intro
{
 text-decoration:none;
  margin: 0;
 padding-top: 0;
 /* width: 50% */
 height:150px;
 color:white;
 font-size: 50px;
 font-family: fantasy;

 text-align: center;

}
#image
{
  z-index: 1;
 height:200px;
 image-orientation: 300px 300px;
 align-content: center;
}
img.my
{
  border: 4px solid white;
  border-radius: 50%;
}
#about
{
  font-size: 20px;
  text-decoration:none;
  padding-left: 400px;
  padding-right: 400px;
  margin-top: 150px;
  padding-top: 40px;
  border-top:4px solid white;
  border-bottom:4px solid white;
  Color:white;
  margin left:0px;
  Margin right:0px;
  text-align: center;
  float:none;
  filter:alpha(opacity(50%));
 }
 #about:hover
 {
   /* background-color: #AFEEEE; */
   background-image: url(hover.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   /* filter:alpha(opacity(50%)); */
 }
#myself
{
  font-size: 20px;
}
#meself
{
  font-size: 20px;
}


 #experience
 {
    font-size:20px;
   margin-top: 100px;
   text-decoration:none;
   padding-top: 60px;
   /* margin-left: 200px;
   margin-right: 200px; */
   Color:white;
   /*background-color:white;*/
     border:4px solid white;
   margin left:0px;
   Margin right:0px;
   text-align: center;
   float:none;
  }
  .education
  {
    text-align: center;
     margin-top: 0px;
     text-decoration:none;
    padding-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    Color:black;
    text-align: center;
    float:none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;

   }

   .education>div
   {
     background-color: white;
     height:100px;
     font-size: 30px;
   }
   .educaton>div:nth-child(an+b)
   {
     background-color:#ddd;
   }
   #skill
   {
     font-size: 40px;
     margin-top: 100px;
     text-decoration:none;
     padding-top: 40px;
     margin-left: 200px;
     margin-right: 200px;
     Color:white;
    border:4px solid white;
     margin left:0px;
     Margin right:0px;
     text-align: center;
     float:none;
    }
  #ed
   {
     margin-top: 150px;
     text-decoration:none;
     padding-top: 40px;
     margin-left: 200px;
     margin-right: 200px;
     Color:white;
     border-top: 4px solid white;
     border-bottom: 4px solid white;
     margin left:0px;
     Margin right:0px;
     text-align: center;
     float:none;
    }
#contact
    {
      text-decoration:none;
       margin: 0;
      padding-top: 0;
      width: 50%
      height:50%;
      Color:black;
      font-size: 20px;
      text-align: center;
    }
#bor
 {
  border: 4px solid white;
 }
 #ed:hover
 {
   /* background-color: #AFEEEE; */
   background-image: url(hover.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   /* filter:alpha(opacity(50%)); */
 }
 #experience:hover
 {
   /* background-color: #AFEEEE; */
   background-image: url(hover.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   border-left: none;
   border-right: none;
   /* filter:alpha(opacity(50%)); */
 }
 #skill:hover
 {
   /* background-color: #AFEEEE; */
   background-image: url(hover.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   /* filter:alpha(opacity(50%)); */
 }
